:root{
    --bg--dark: #0E0F1C
    --bg--card: #564B4B
    --bg--planos: #151E30

    /*neon*/

    --primary--prime #6177FA
    --segundary--prime #23B7B7

    --letra--card #737AA2

    --transition: all 0.3s ease;

}